.toolbar,
.content {
  text-align: center;
  margin-top: 20px;

}

.example-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.example-full-width {
  width: 300px;

}
